In [1]:
num = input("숫자를 입력해주세요")

result = num % 2

숫자를 입력해주세요 123

TypeError: not all arguments converted during string formatting

In [3]:
num = input("숫자를 입력해주세요")
result = int(num) % 2

if bool(result):
    print("홀수입니다.")

else:
    print("짝수입니다.")

숫자를 입력해주세요 123

홀수입니다.

In [4]:
num = int(input())

if num % 2 == 1:
    print('홀수')

else:
    print('짝수')

 123

홀수

In [6]:
num = int(input())

if num % 2 == 0:
    print('짝수')

else:
    print('홀수')

 2

짝수

In [8]:
#이해가 안가요

num = int(input())

if num % 2:
    print('홀수')

else:
    print('짝수')

 5

홀수

In [ ]:
#elif 조건식

score = int(input())

#90점 이상 A
#80~89 B
#70~79 c
#rest F

if score >= 90:
    print('A')
elif score >= 80 and score <= 89:
    print('B')
elif 70 <=

In [10]:
#중첩 if 가능

#90점 이상 중에 95점 이상 받은 사람은 '참잘했어요' 출력
score = int(input())

if score >= 90:
    print('A')
    if score >= 95:
        print('참잘했어요')

elif score >= 80:
    print('B')

 96

A
참잘했어요

##조건표현식

```
true_value if <조건식> else false_value

```

In [ ]:
if 1 > 0 else

In [ ]:
num = 5
value = num if num <= else 0
print('value')

In [11]:
num = 2

if num % 2:
    result = '홀수'

else:
    result = '짝수'

print(result)

짝수

In [13]:
num = 3
result = '홀수' if num % 2 else '짝수'
print(result)

홀수

## 반복문

### while문

```
while <조건식>:
    실행할 코드

In [14]:
a = 0
while a < 5:
    print(a)
    a += 1   #a = a + 1 과 완전히 똑같은 식. #조건을 걸어줘야함

0
1
2
3
4

In [15]:
greeting = '' #비어 있는 문자 넣기 #데이터 없는 string

while greeting != '안녕':
   greeting = input('안녕이라고 말해줘')

안녕이라고 말해줘 aa
안녕이라고 말해줘 안녕

### for

    정해진 범위 내의 반복

```

for variable(item) in sequence:
    code
```
시퀀스 자료는 순서대로 정리가 되어있기때문에 반복문 가능

In [16]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [17]:
word = input('단어를 입력해주세요')

단어를 입력해주세요 apple

In [20]:
word = input('단어를 입력해주세요')

for char in word:
    print(char)

단어를 입력해주세요 apple

a
p
p
l
e

In [21]:
for i in range(5):
    print(i)

#range 범위를 만들고 반복 수

0
1
2
3
4

In [22]:
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [26]:
#1~30까지 숫자들 중에서 홀수만 출력
numbers = range(31)

for number in numbers:
    if number % 2:
        print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [28]:
menus = ['라면','김밥','백반']
for menu in enumerate(menus):
    print(menu)

(0, '라면')
(1, '김밥')
(2, '백반')

In [29]:
for index, menu in enumerate(menus):
    print(index)
    print(menu)

0
라면
1
김밥
2
백반

In [1]:
info = {
    'name': 'gildong',
    'location' : 'seoul',
    'phone' : '010-1234-1234',
    'age' : 20,
}

In [3]:
for cat in info:
    print(cat)
    print(info[cat])

name
gildong
location
seoul
phone
010-1234-1234
age
20

In [4]:
info.keys()
#for key in info.keys():
    print(key)

dict_keys(['name', 'location', 'phone', 'age'])

In [5]:
for value in info.values():
    print(value)

gildong
seoul
010-1234-1234
20

In [6]:
for key, value in info.items():
    print(key, value)

name gildong
location seoul
phone 010-1234-1234
age 20

In [8]:
blood_type = {
    'A':5,
    'B':3,
    'O':2,
    'AB':2,
}

In [9]:
#혈액형의 종류는 ?? ?? 입니다.
print('혈액형의 종류는', end=' ')
for key in blood_type.keys():
    print(key, end=' ')
print('가 있습니다')

혈액형의 종류는
A
B
O
AB
가 있습니다

In [12]:
#총 학생수는 몇명입니다.
result = 0
for value in blood_type.values():
    result = result + value

print(f'총 학생수는 {result}명입니다.')

총 학생수는 12명입니다.

In [14]:
for i in range(100):
    print(i)
    if i > 10:
        break
    print(i)

0
0
1
1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9
10
10
11

In [16]:
rice = ['쌀', '보리', '보리', '보리', '쌀', '보리']

for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다')
        break

쌀
잡았다

In [18]:
i = 0

while True:
    if rice[i] == '쌀':
        print('잡았다')
        break
    print(rice[i])
    i = i + 1

잡았다

##continue

continue 이후의 코드를 실행하지않고 다음 반복을 진행

In [ ]:
for i in range(20):
    if i % 2:
        continue
    print(i)

In [19]:
ages = [10, 20, 30, 40, 50]

for age in ages:
    if age <= 20:
        continue
    print(f'{age}살은 성인입니다.')

30살은 성인입니다.
40살은 성인입니다.
50살은 성인입니다.

### else

else문은 끝까지 반복된 후 실행됩니다.

In [20]:
for i in range(10):
    print(i)
else:
    print('else입니다.')

0
1
2
3
4
5
6
7
8
9
else입니다.

In [ ]:
#pass

if True:
    pass

In [ ]:
## match

```
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code

In [ ]:
status = 404

match status:
    case 200:
        print('ok')
    case 404:
        print('bad')
    case _:
        print('i don't know')