In [1]:
height = 50
width = 30

area = height * width
perimeter = (height * width) * 2
print(f"사각형의 넓이는 {area}고, 둘레는 {perimeter}입니다")

사각형의 넓이는 1500고, 둘레는 3000입니다

##함수의 선언과 호출

    - 함수의 선언

~~~ python
def func_name(parameter1, parameter2 ...):
    code1
    code2
    ...
    return value
```

    - 함수의 호출(실행)

    func_name(parameter1, parameter2 ...)

In [4]:
def rectangle(height, width):
    area = height * width
    perimter = (height + width) * 2
    print(area, perimeter)

In [5]:
rectangle(100, 200)
rectangle(500, 500)
rectangle(5,10)

20000 3000
250000 3000
50 3000

In [6]:
max (1,2,3,4)

4

In [24]:
def my_max(num1, num2):
    if num1 > num2:
        print(num1)
    elif num1 < num2:
        print(num2)
    else:
        print('쌤쌤')

In [25]:
my_max(4,3)
my_max(5,1)
my_max(5,5)

4
5
쌤쌤

##함수의 return

- 함수가 return을 만나면 해당 값을 반환하고 함수를 종료
- 만약 return이 없는 경우 none을 자동으로 반환
- return은 오직 하나의 객체만 반환한다.

In [26]:
result = my_max(1, 2)
print(result)

2

In [27]:
def my_max2(num1, num2):
    if num1 > num2:
        return num1
    elif num1 < num2:
        return num2
    else:
        return num1

In [29]:
my_max(1, 2)

2

In [30]:
my_max2(1, 2)

2

In [31]:
result = my_max2(1, 2)
result

2

In [32]:
#my version
def my_list_max(list1, list2):
    if sum(list1) < sum(list2):
        return list2
    else:
        pass

In [ ]:
#version2
def my_list_max(list1, list2):
    result = 0 #빈방 만들어주기
    result2 = 0 #빈방 만들어주기
    
    for num in list1:
        result1 += num
    for num in list2:
        result2 += num
    if result1 > result2:
        return list1
    else:
        return list2

In [ ]:
#tc version
def my_list_max(list1, list2):
    if sum(list1) > sum(list2):
        return list1
    else:
        return list2

In [33]:
my_list_max([1, 2, 3], [2,3,4])

[2, 3, 4]

In [34]:
def my_def2(x):
    #return x * 3
    return (x, x * 2)

my_def2(10)

(10, 20)

In [ ]:
def cylinder(r, h):
    return 3.14 * r**2 * h

In [ ]:
cylinder(10, 5)
cylinder(5, 10)

In [ ]:
def greeting(name = '소크라테스'):
    return

In [ ]:
#오답
def greeting(name='익명', age):
    return f'{name}님의 나이는 {age}입니다.'

In [35]:
#정답
#기본값을 앞으로 설정해야 돌아감. 왜냐? 기본값이니까. 추가 데이터(name='익명')는 있을수도 없을 수도 있는 데이터라서
def greeting(age, name='익명'):
    return f'{name}님의 나이는 {age}입니다.'

In [36]:
greeting(10)

'익명님의 나이는 10입니다.'

### 키워드 인수
함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 특정인자를 전달

In [ ]:
def greeting(age, name='익명'):
    return(f'{name}님의 나이는 {age}입니다.')

In [ ]:
greeting(10)
greeting(10, '길동')
greeting(name='길동',age=10)

## 가변인자 리스트


```
def func(*parms):
    code ...

In [38]:
print('hi', 'hello', 'my', 'name', 'is')

hi hello my name is

In [40]:
def my_print(*words):
    print(words)

In [41]:
words

NameError: name 'words' is not defined

In [ ]:
def my_max(*numbers):
    pass

In [ ]:
#quiz

my_max(1,2,3,4,5)
=> 5 ??

In [ ]:
def my_max(*numbers):
    for i in range(my_max):

In [ ]:
#for 문 이용해 가장 큰 데이터 호출
def my_max(*numbers):
    max_num = 0

    for number in numbers:
        if max_num < number:
            max_num = number
    
    return max_num

In [44]:
##정의되지 않은 키워드 인자 처리하기

```def func:

In [ ]:
info = {
    'name': 'hong',
    'age': 10,
}
print(info)

In [ ]:
def my_dict(**

In [ ]:
dict 를 인자로 넣기(unpacking) - 함수 입력값 앞에 **

In [45]:
#비번이 맞는지 상황 구현
def sign_up(username, pw, pw_conf):
    if pw == pw_conf:
        print(f'{username}님 회원가입을 환영합니다.')
    else:
        print('비밀번호가 일치하지않습니다.')

In [46]:
sign_up('hong','1234','123')
sign_up('hong','1234','1234')

비밀번호가 일치하지않습니다.
hong님 회원가입을 환영합니다.

## lambda 표현식


```python
lambda parameter:expression

In [47]:
def my_sum(num1, num2):
    return num1 + num2

In [48]:
my_sum(1,2)

3

In [49]:
(lambda num1, num2: num1 + num2)(1, 2)

3

## 타입힌트

In [ ]:
def my_sum(a: int, b: int) #-> int:리턴되는 값이 int 타입이다 라고 힌트 제공 #a, b 각 타입에 대한 힌트 제공
    return a + b

In [ ]:
my_sum(1, 20)

## 이름공간(scope)

python에서 사용되는 이름들은 이름공간에 저장되어있습니다.

1. Local: 정의된 함수 내부
2. Enclosed: 상위 함수
3. Global: 함수 밖의 변수
4. Built-in: python이 기본적으로 가지고 있는 함수 / 변수

In [ ]:
results = str(1)
print(results)

In [50]:
str = 'hi'

In [51]:
results = str(1)
print(results)

TypeError: 'str' object is not callable

In [52]:
del str

In [ ]:
a = 1

def local_scope(a):
    return(a)

print(a)
print(local_scope(5))
#a와 local_scope(a)는 완전 다른 데이터

In [ ]:
a = 10

def global_scope():
    return a

global_scope()

In [ ]:
a = 12
def global_Scope9):
    global a

In [ ]:
n! = 1 * 2 * 3 * ... n

- 1! = 2
- 2! = 1 * 2 = 1! * 2
- 3! = 1 * 2 * 3 = 2! * 3
- n! = (n-1)! * n

In [ ]:
- 1! = 2

In [ ]:
def fact(n):